body {
    font-family: Montserrat;
    color: #484848;
    margin: 0;
    padding: 0;
}
nav ul {
    list-style-type: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 18px;
}

header {
    background: white;
    height: 150px;
    display: block;
    align-items: center;
}

#logo {
    height: 120px;
    padding: 20px;
    margin: auto;
}

nav {
    display: inline-block;
    float: right;
    margin-right: 20px;
}
nav li {
    display: inline-block;
    margin-left: 40px;
    margin-top: 80px;
    line-height: 20px;
    cursor: pointer;
}

li:hover {
    background-color: rgb(249, 249, 125);
    font-weight: bold;
}

a {
    color: #484848;
    text-decoration: none;
}


li:visited {
    background-color: #484848;
    text-decoration: none;
}


.heading {
    margin-top: 14px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
#firstdog {
    width: 300px;
    height: 300px;
}

.firstdog {
   display: flex;
   flex-direction: row;
   justify-content: center;
}

.content {
    width: 1000px;
    margin: auto;
}
#locations {
    padding: 20px;
    border: 3px solid rgb(231, 81, 81);  
    margin-bottom: 40px;
    margin-top: 10px;
    background-color: rgb(249, 249, 125);
    border-radius: 20px;
    width: 700px;
}

#subtitle {
    text-align: center;
}
.locationinfo {
    margin: 0px;
    padding: 0px;
}

.durant {
    text-align: left;
    margin-left: 20px;
}

.center {
    text-align: right;
    margin-right: 20px;
}

.locationinfo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}



#menupreview {
    padding: 20px;
    border: 3px solid rgb(231, 81, 81);  
    margin-bottom: 20px;
    text-align: center;
    background-color: rgb(249, 249, 125);
    border-radius: 20px;
    width: 700px;
}

.menupreview {
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    align-items: center;
}

#doggif {
    width: 260px;
    height: 175px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.menubutton {
    font-size: 28px;
    height: 40px;
    width: 80%;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: white;
    border-radius: 12px;
    margin-left: 26px;
    margin-right: 26px;
}

.menupreview a {
    text-decoration: none;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

section img {
    width: 300px;
    height: 300px;
}
h1 {
    font-family: 'MADE Dillan', sans-serif;
    color: rgb(231, 81, 81);
    font-size: 40px;
    padding-top: 10px;
    text-align: center;
    margin: 0px;
}

p {
    font-family: Montserrat;
    font-size: 20px;
    color: black;
    margin-top: 0px;
}

h2 {
    font-family: 'MADE Dillan', sans-serif;
    color: rgb(231, 81, 81);
    font-size: 40px;
    text-align: center;
    margin: 0px;
    margin-bottom: 14px;
}

h3 {
    font-family: 'Bebas Neue', cursive;
    color: rgb(231, 81, 81);
    font-size: 34px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    letter-spacing: .2rem;
}
section p {
    font-size: 20px;
    margin-bottom: 10px;
}

.menuleft, .menuright {
    width: 500px;
}

section {
    margin: auto;
}



.title {
    font-size: 50px; 
    letter-spacing: .2rem;
}

.fullmenu {
    margin-left: 260px;
    margin-right: 260px;
    margin-top: 10px;
}

.menuitems {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 10px;
    }

.menuitems img {
    height: 130px;
}

#menuitem1 {
    padding: 14px;
    border: 3px solid rgb(231, 81, 81);  
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    background-color: rgb(249, 249, 125);
    border-radius: 20px;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1;
    cursor: pointer;
}

#menuitem2 {
    padding: 14px;
    border: 3px solid rgb(231, 81, 81);  
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    background-color: rgb(249, 249, 125);
    border-radius: 20px;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1;
    cursor: pointer;
}

#menuitem3 {
    padding: 14px;
    border: 3px solid rgb(231, 81, 81);  
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    background-color: rgb(249, 249, 125);
    border-radius: 20px;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1;
    cursor: pointer;
}

#menuitem4 {
    padding: 14px;
    border: 3px solid rgb(231, 81, 81);  
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    background-color: rgb(249, 249, 125);
    border-radius: 20px;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1;
    cursor: pointer;
}

#menuitem5 {
    padding: 14px;
    border: 3px solid rgb(231, 81, 81);  
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    background-color: rgb(249, 249, 125);
    border-radius: 20px;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1;
    cursor: pointer;
}

#menuitem6 {
    padding: 14px;
    border: 3px solid rgb(231, 81, 81);  
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    background-color: rgb(249, 249, 125);
    border-radius: 20px;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1;
    cursor: pointer;
}

#menuitem7 {
    padding: 14px;
    border: 3px solid rgb(231, 81, 81);  
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    background-color: rgb(249, 249, 125);
    border-radius: 20px;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1;
    cursor: pointer;
}

#menuitem8 {
    padding: 14px;
    border: 3px solid rgb(231, 81, 81);  
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    background-color: rgb(249, 249, 125);
    border-radius: 20px;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1;
    cursor: pointer;
}

#menuitem9 {
    padding: 14px;
    border: 3px solid rgb(231, 81, 81);  
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    background-color: rgb(249, 249, 125);
    border-radius: 20px;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1;
    cursor: pointer;
}

#menuitem1:hover{ 
    box-shadow:  0px 0px 14px 10px #B9BAB8;
}

#menuitem2:hover{ 
    box-shadow:  0px 0px 14px 10px #B9BAB8;
}

#menuitem3:hover{ 
    box-shadow:  0px 0px 14px 10px #B9BAB8;
}

#menuitem4:hover{ 
    box-shadow:  0px 0px 14px 10px #B9BAB8;
}

#menuitem5:hover{ 
    box-shadow:  0px 0px 14px 10px #B9BAB8;
}

#menuitem6:hover{ 
    box-shadow:  0px 0px 14px 10px #B9BAB8;
}

#menuitem7:hover{ 
    box-shadow:  0px 0px 14px 10px #B9BAB8;
}

#menuitem8:hover{ 
    box-shadow:  0px 0px 14px 10px #B9BAB8;
}

#menuitem9:hover{ 
    box-shadow:  0px 0px 14px 10px #B9BAB8;
}








/* .headline {
    animation-name: slidein;
    animation-duration: 10s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: infinite;
 }
 @keyframes slidein {
    from {
      transform: translateX(-80%);
    }
  
    to {
      transform: translateX(80%);
    }
  }
  
.headline {
    width: 1000px;
} */